<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899784189894-hgv88igc2ftblekcouhae0cis8tp36pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899784189894-hgv88igc2ftblekcouhae0cis8tp36pj</string>
	<key>API_KEY</key>
	<string>AIzaSyAtLp7GuLkO4OI52IaSHfoDjh3xs3inO_E</string>
	<key>GCM_SENDER_ID</key>
	<string>899784189894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>md.police.MAIInspections</string>
	<key>PROJECT_ID</key>
	<string>maiinspections</string>
	<key>STORAGE_BUCKET</key>
	<string>maiinspections.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899784189894:ios:aeff0d09f227ac314cb4c7</string>
</dict>
</plist>